@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --background: #181818;
    --menus: #252525;
    --accent: #e54c4c;
    --text: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

html {
    font-family: "DM Sans", sans-serif;
}

body {
    background: var(--background);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    background-color: var(--menus);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    z-index: 10;
    transition: top 0.3s ease-out;
}

.link {
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}

nav a:hover {
    background-color: var(--accent);
    transition: background-color 0.2s;
}

nav .home {
    margin-right: auto;
}

#sidebar-toggle {
    display: none;
}

.side-open, .side-closed {
    display: none;
}

@media (max-width: 500px) {
    .link {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 350px;
        background-color: var(--menus);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .side-open, .side-closed {
        padding: 20px;
        display: block;
    }

    #sidebar-toggle:checked ~ .link {
        right: 0;
    }
}

.background {
    position: absolute;
    opacity: 5%;
    z-index: -10;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 67px;
}

p {
    text-align: center;
}

.tim-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.tim-slider {
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.tim-track {
    display: flex;
    width: calc(300px * 8);
    animation: scroll 15s linear infinite;
}

.tim-slide {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.tim-title {
    font-size: 30px;
    text-align: center;
}

.xan-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.xan-slider {
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.xan-track {
    display: flex;
    width: calc(300px * 8);
    animation: scroll 15s reverse linear infinite;
}

.xan-slide {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.xan-title {
    font-size: 30px;
    text-align: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-330px * 4));
    }
}

.about-tim {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}