@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --background: #181818;
    --menus: #252525;
    --accent: #e54c4c;
    --text: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text);
}

html {
    font-family: "DM Sans", sans-serif;
    scrollbar-width: none;
}

body {
    background: var(--background);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 67px;
    background-color: var(--menus);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    z-index: 10;
    transition: top 0.3s ease-out;
    outline: dashed var(--text) 1px;
}

.link {
    height: 100%; width: 100%;
    display: flex;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}

nav a:hover {
    background-color: var(--accent);
    transition: background-color 0.2s;
}

nav .home {
    margin-right: auto;
    font-size: 20px;
}

#sidebar-toggle {
    display: none;
}

.side-open, .side-closed {
    display: none;
}

@media (max-width: 500px) {
    .link {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 350px;
        background-color: var(--menus);
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
        transition: 0.5s ease;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .side-open, .side-closed {
        padding: 20px;
        display: block;
    }

    #sidebar-toggle:checked ~ .link {
        right: 0;
    }
}

.index-desc {
    display: flex;
    width: 40%;
    margin-left: 100px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.index-desc p {
    text-align: left;
}

.index-image {
    display: flex;
    margin-right: 100px;
    margin-left: auto;
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.background {
    position: absolute;
    opacity: 5%;
    z-index: -10;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 67px;
}

p {
    text-align: center;
}

.tim-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.tim-slider {
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.tim-track {
    display: flex;
    width: calc(300px * 8);
    animation: scroll 15s linear infinite;
}

.tim-slide {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.tim-title {
    font-size: 30px;
    text-align: center;
}

.xan-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.xan-slider {
    height: 300px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.xan-track {
    display: flex;
    width: calc(300px * 8);
    animation: scroll 15s reverse linear infinite;
}

.xan-slide {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.xan-title {
    font-size: 30px;
    text-align: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-330px * 4));
    }
}

.about-tim, .about-xan {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

footer {
    text-align: right;
    background-color: var(--background);
    height: 25px;
    font-size: 10px;
    bottom: 100%;
}

footer a{
    text-decoration: none;
}

.blade-image {
    float: right;
}

.top-players {
    border: 2px solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.05);
    border-radius: 40px;
    padding: 20px;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 50%;
}

.top-players h2, .top-players p {
    text-align: right;
}

.player-image {
    height: 250px;
    object-fit: cover;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    float: right;
    margin-left: 15px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form fieldset {
    padding: auto;
    border-radius: 20px;
}

.form form {
    width: 670px;
    padding: 20px;
}

.form h2 {
    text-align: center;
    font-size: 100px;
}

.form input[type="text"], .form input[type="password"]{
    background-color: rgba(255, 255, 255, 0.01);
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    input-security: none;
}

.form input[type="submit"] {
    font-family: "DM Sans", sans-serif;
    background-color: var(--accent);
    color: var(--text);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.form input[type="submit"]:hover {
    background-color: #e54c4caa;
    transition: background-color 0.2s;
}

.title-text {
    position: absolute;
    left: 5%;
    bottom: 45%;
    z-index: 100;
}

.title {
    top: 0;
    z-index: 1;
    height: 250px;
    margin: auto;
    padding-top: 50px;
    background: url("https://images.ctfassets.net/v8zaoys2pgzt/5GpsHZAl8mgJz9sfOERXNx/5594c024e1937d6ce302d3622de08e48/Table_Tennis-28.07.24-_DP97682.jpg");
    background-position: center 50%;
    background-size: cover;
}

.gradient {
    z-index: 2;
    position: absolute;
    top: 90px;
    width: 100%;
    height: 250px;
    background: linear-gradient(to bottom, var(--background), rgba(0,0,0,0));
}

p {
    width: 75%;
    margin: auto;
}

.toHistory {
    font-family: "DM Sans", sans-serif;
    display: block;
    margin: 25px auto;
    padding: 10px 20px;
    font-size: 15px;
    background-color: var(--menus);
    color: var(--text);
    border: 2px solid var(--accent);
    border-radius: 67px;
    cursor: pointer;
    transition: filter 0.2s, background-color 0.2s;
}

.toHistory:hover {
    filter: drop-shadow(0 2px 4px var(--accent));
    background-color: var(--accent);
    transition: filter 0.2s, background-color 0.2s;
}